body {
  color: #202020; }

#pilka {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 100px; }

#communicate {
  position: fixed;
  top: 250px;
  left: 50%;
  width: 350px;
  margin-left: -150px;
  padding: 15px;
  background: #FFF;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  border: 3px solid #CCC;
  border-radius: 3px;
  z-index: 100; }
  #communicate .close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    background: #000;
    border-radius: 20px; }
    #communicate .close:hover {
      background: #FF0000; }

* {
  box-sizing: border-box; }

select {
  width: 300px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #CCC;
  outline: none; }
  select:focus {
    border-color: blue; }

/*# sourceMappingURL=style.css.map */
